# =========================
# DATASETS
# =========================

datasets/


# =========================
# ENVIRONMENT FILES
# =========================

.env
.venv/
venv/
.env.*


# =========================
# PYTHON CACHE
# =========================

__pycache__/

*.pyc
*.pyo


# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/


# =========================
# TRAINED MODELS
# =========================

*.pth
*.pt
*.onnx


# =========================
# OUTPUTS
# =========================

outputs/checkpoints/

outputs/heatmaps/

outputs/logs/


# OPTIONAL:
# Ignore metrics if generated repeatedly

# outputs/metrics/


# =========================
# OPERATING SYSTEM FILES
# =========================

.DS_Store

Thumbs.db

desktop.ini


# =========================
# IDE FILES
# =========================

.vscode/

.idea/


# =========================
# CONDA
# =========================

conda-meta/


# =========================
# LOG FILES
# =========================

*.log