torch
torchvision
torchaudio

numpy
pandas

matplotlib
seaborn

scikit-learn

opencv-python

pillow

albumentations

timm

grad-cam

scikit-image

scipy

torchmetrics

jupyterlab

notebook

ipykernel

tqdm

onnx

onnxruntime

streamlit

flask

imageio